<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor = "let recipe of recipes">
      <h4>{{recipe.name}}</h4>
      <h5>{{recipe.description}}</h5>
      <button (click)="recipe.ingredientForm = !recipe.ingredientForm">{{recipe.ingredientForm ? 'hide' : 'show'}}</button>
      <div class="ingredients" *ngIf="recipe.ingredientForm">
        <h4 >Ingredients</h4>
        <ul>
          <li *ngFor = "let ingredient of recipe.ingredients">{{ingredient}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
